version: "3.9"

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    image: cloudsheger/fastapi
    container_name: fastapi-service
    ports:
      - "8000:8000"
    networks:
      - app-network

  streamlit:
    build:
      context: ./streamlit_app
      dockerfile: Dockerfile
    image: cloudsheger/streamlit-app
    container_name: streamlit-service
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://fastapi:8000
    depends_on:
      - fastapi
    networks:
      - app-network

networks:
  app-network:
    driver: bridge